@import '../../node_modules/normalize.css/normalize.css';
@import '../../styles/variables.scss';
@import '../../styles/profile.scss';
@import '../../styles/person_info.scss';

html {
	color: #222;
	font-weight: 100;
	font-size: 1em; /* ~16px; */
	font-family: $font-family-base;
	line-height: 1.375; /* ~22px */
}

button:focus { outline:0 !important; }

.thumbnail {
	text-align: center;
}

.thumbnail img {
	width: 360px;
	height: 360px;
	border-radius: 100%;
}

@media (max-width: 400px) {
	.thumbnail img {
		width: 150px;
		height: 150px;
		border-radius: 100%;
	}
}
.thumbnail img.portrait {
}



.person-achievements {
	margin: 4.5rem;
}

.person-achievements .person-achievements-title {
	margin: 2rem;
	font-size: 3.2rem;
	letter-spacing: 3px;
	text-align: center;
}

@media (max-width: 670px) {
	.person-achievements .person-achievements-title {
		font-size: 2.5rem;
	}
}

@media (max-width: 400px) {
	.person-achievements .person-achievements-title {
		font-size: 1.5rem;
	}
}

.person-achievements .achievement-list {
	text-align: left;
	margin: 0 4rem;
}

.person-achievements .achievement-list .achievements-list-item {
	font-size: 1.3rem;
	margin: 0.7rem 0;
	font-weight: 400;
}

.skills-list {
}

.skills-list .person-skill {
	display: inline-block;
}

.skills-adding-section {
	text-align: center;
}

.add-skill-input {
	text-align: center;
	margin: 0 auto;
	max-width: 150px;
	max-height: 40px;
}




