@import '../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';

html {
	color: #222;
	font-weight: 100;
	font-size: 1em; /* ~16px; */
	font-family: $font-family-base;
	line-height: 1.375; /* ~22px */
}

.container {
	margin: 0 auto;
	padding: 0 0 40px;
	max-width: $max-content-width;
}

.thumbnail {
	position: relative;
	width: 300px;
	height: 400px;
	overflow: hidden;
}
.thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
	width: 100%;
	height: auto;
}
