.thumbnail {
	text-align: center;
}

.thumbnail .avatar {
	width: 360px;
	height: 360px;
	border-radius: 100%;
}

@media (max-width: 400px) {
	.thumbnail .avatar {
		width: 150px;
		height: 150px;
		border-radius: 100%;
	}
}
.thumbnail .avatar.portrait {
}

.change-avatar-btn {
	margin:  0 0 1rem;
	letter-spacing: 5px;
	font-size: 0.9rem;
}

.file-input {
	visibility: hidden;
	margin: 0 0;
	padding: 0 0;
	width: 1px;
	height: 1px;
	text-align: left;
}

.cancel-avatar-edit-icon {
	width: 40px;
	height: 40px;
}

.on-edit-avatar-button {
	font-size: 1.6rem;
	margin: 0 0 1rem;
	font-weight: 400;
}

.on-edit-avatar-icon {
	width: 32px;
	height: 32px;
	margin: 0 1rem 0;
}

.on-select-avatar {
	font-size: 1.6rem;
	font-weight: 400;
}
