@import './variables.scss';

.person-info {
	text-align: center;
	margin: 1.5em 0;
}

.person-info h2 {
	font-size: 2.3rem;
	letter-spacing: 5px;
	margin: 0 0 1rem;
}

.person-info h3{
	font-size: 2.3rem;
	letter-spacing: 3.5px;
	margin: 0 0 2rem;
}

.person-info h4{
	margin: 1rem 0;
	font-size: 1.3rem;
}

.person-info .person-phone {
	margin: 2.6rem 0 0 0;
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.person-info .phone-icon {
	width: 28px;
	height: 28px;
	margin: 0 1rem 0;
}

.person-info .bottom-person-info {
	font-size: 1.4rem;
	letter-spacing: 2px;
	margin: 1.3rem 0;
}

.person-info .skype-icon {
	width: 28px;
	height: 28px;
	margin: 0 1rem 0;
}

.person-info .github-icon {
	width: 30px;
	height: 30px;
	margin: 0 0.7rem 0 4.6rem;
}

.person-info .linkedin-icon {
	width: 32px;
	height: 32px;
	margin: 0 0.7rem 0 1.5rem;
}

.person-info .person-email {
	margin: 2.4rem 0 0 0;
	letter-spacing: 3px;
	font-size: 1.55rem;
}

.person-info .email-icon {
	width: 50px;
	height: 25px;
	margin: 0 0.8rem;
}

ul {
	margin: 0 0;
	padding: 0 0;
}
ul li {
	display: inline-block;
}

.on-edit-name-icon {
	width: 30px;
	height: 30px;
}

.on-edit-city-icon {
	width: 30px;
	height: 30px;
}
.cancel-edit-name-icon {
	width: 30px;
	height: 30px;
}

.cancel-edit-city-icon {
	width: 30px;
	height: 30px;
}

.update-data-icon {
	width: 30px;
	height: 30px;
}


.person-edit-data-input {
	border: none;
	border-bottom: solid;
	text-align: center;
	font-weight: 500;
	letter-spacing: 5px;
}

.person-edit-data-input:focus {
	outline: none;
}

.person-edit-data-input::-webkit-input-placeholder {
	color: #222;
	opacity:  1;
}

.person-edit-name-input {
	font-size: 2.2rem;
	max-width: 400px;
}

.person-edit-city-input {
	font-size: 1.9rem;
	max-width: 240px;
}


.person-edit-skype-input {
	max-width: 200px;
}

.person-edit-github-input {
	max-width: 400px;
	font-size: 0.9rem;
}

.person-edit-linkedin-input {
	max-width: 400px;
	font-size: 0.9rem;
}

.person-skype {
	font-size: 1.6rem;
}
