.skills-list {
}

.skills-list .person-skill {
	display: inline-block;
}

.skills-adding-section {
	text-align: center;
	margin: 0 0 1.5rem;
}

.add-skill-input {
	text-align: center;
	margin: 0 auto;
	max-width: 150px;
	max-height: 40px;
}

.delete-skill-icon {
	width: 40px;
	height: 40px;
}
